<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>treasure hunter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C7EB45F1F1DD881008B8890</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C7EB4731F1DD881008B8890</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C7EB47E1F1DD881008B8890</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
